body {
  background-image: url(bg.jpg);
  background-color: #cccccc;
  width: 800;
  height: 1280;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
