body {
  background-image: url(bg.jpg);
  background-color: #cccccc;
  width: 800;
  height: 900;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
